{% extends 'base.html' %}

{% block title %}
Directory: {{ dir_path }}
{% endblock %}

{% block add_style %}
{% endblock %}

{% block body %}
    <div class="container-fluid sticky-top bg-light px-4 py-3 mb-2">
        <div class="mb-2 ml-0">Directory: {{ dir_path }}</div>
        <a class="text-decoration-none" href="{{ up_dir_link }}">
            <p class="badge bg-secondary text-wrap p-2 fs-7 me-2 mb-0">
                .. Up
            </p>
        </a>
        <a class="text-decoration-none" href="{{ root_dir_link }}">
            <p class="badge bg-secondary text-wrap p-2 fs-7 me-2 mb-0">
                Root directory
            </p>
        </a>
        <a class="text-decoration-none position-absolute end-0" href="{{ url_for('index') }}">
            <p class="badge bg-secondary text-wrap p-2 fs-7 me-2 mb-0">
                Home
            </p>
        </a>
    </div>

    <div class="container-fluid row">
        {% if dirs_items %}
        <div class="col-sm-2 m-0 pt-3">
            <div class="row">
                {% for path, url in dirs_items: %}
                    <div class="col-sm-12">
                        <a class="text-decoration-none" href="{{ url }}">
                            <p class="badge bg-secondary text-wrap p-2 fs-7" style="word-break: break-all;">
                                {{ path }}
                            </p>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        <div class="col-sm-10 m-0 pt-3">
            {% for path, url, img_preview_data in files_items: %}
                <a class="text-decoration-none" href="{{ url }}">
                    <img src="data:image/jpeg;base64,{{ img_preview_data }}" class="img-fluid img-thumbnail" alt="Display error" title="{{ path }}">
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block __after_body_contents %}
    {# trying to use vanilla js instead of jquery with bootstrap 5 (just try to learn) #}
    <script>
        document.querySelectorAll('.badge.bg-secondary.text-wrap').forEach(function(item) {
            item.style.color = "cyan"
        });
    </script>
{% endblock %}
