{% extends 'base.html' %}

{% block title %}
Directory: {{ dir_path }}
{% endblock %}

{% block add_style %}
{% endblock %}

{% block body %}
    <h4 style="margin-top: 10px;">Directory: {{ dir_path }}</h4>
    <div class="root_item"><a href="{{ root_dir_link }}">Root directory</a></div>
    <div class="up_item"><a href="{{ up_dir_link }}">.. Up</a></div>

    <table class="dir_table">
    {% for dirs_item in dirs_items: %}
        <tr>
        {% for path, url in dirs_item: %}
            <td class="dir_table_cell" align="left">
                <a href="{{ url }}">{{ path }}</a>
            </td>
        {% endfor %}
        </tr>
    {% endfor %}
    </table>

    <br>

    <table>
    {% for files_item in files_items: %}
        <tr>
        {% for path, url, img_preview_data in files_item: %}
            <td class="photo_table_cell">
                <a href="{{ url }}">
                    <img id="picture" class="img_thumbnail" src="data:image/jpeg;base64,{{ img_preview_data }}" alt="Display error">
                </a>
            </td>
        {% endfor %}
        </tr>
    {% endfor %}
    </table>
{% endblock %}
