{% extends 'base.html' %}

{% block title %}
Directory: {{ dir_path }}
{% endblock %}

{% block add_style %}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h4 class="my-3">Directory: {{ dir_path }}</h4>
        <a class="text-decoration-none" href="{{ root_dir_link }}">
            <p class="badge bg-primary text-wrap p-2 my-0 fs-7">
                Root directory
            </p>
        </a>
        <br>
        <a class="text-decoration-none" href="{{ up_dir_link }}">
            <p class="badge bg-primary text-wrap p-2 my-4 fs-7">
                .. Up
            </p>
        </a>
        <br>

        {% for path, url in dirs_items: %}
            <a class="text-decoration-none" href="{{ url }}">
                <p class="badge bg-secondary text-wrap p-2 me-2 fs-7">
                    {{ path }}
                </p>
            </a>
        {% endfor %}
    </div>

    <div class="container-fluid mt-2">
        {% for path, url, img_preview_data in files_items: %}
            <a class="text-decoration-none" href="{{ url }}">
                <img src="data:image/jpeg;base64,{{ img_preview_data }}" class="img-fluid img-thumbnail" alt="Display error">
            </a>
        {% endfor %}
    </div>
{% endblock %}

{% block __after_body_contents %}
    {# trying to use vanilla js instead of jquery with bootstrap 5 (just try to learn) #}
    <script>
        document.querySelectorAll('.badge.bg-secondary.text-wrap').forEach(function(item) {
            item.style.color = "cyan"
        });
    </script>
{% endblock %}
