{% extends 'base.html' %}

{% block title %}
Image
{% endblock %}

{% block add_style %}
    body {    
        margin: 0 !important;
        padding: 0 !important;
    }
{% endblock %}

{% block body %}
    <a href="javascript:history.back()">
        <img class="{{image_class}} id="picture" src="data:image/jpeg;base64,{{ img_data }}" width="" height="100%">
    </a>
    <br>
    <p><a href="{{ url_for(request.endpoint, **request.view_args)[:-1] + '?' + request.query_string.decode()}}&zoom=full">Zoom full size</a></p>
    <p><a href="{{ img_subdir_link }}">.. (up to picture's dir)</a> {{image_name}}</p>
    <div>
        <table class="exif_table">
        {% for key, value in exif.items() %}
            <tr>
                <td class="exif_table_cell" align="left">
                    {{ key }}
                </td>
                <td class="exif_table_cell" align="left">
                    {{ value }}
                </td>
            </tr>
        {% endfor %}
        </table>
    </div>
{% endblock %}
