{% extends 'base.html' %}

{% block title %}
Image
{% endblock %}

{% block add_style %}
{% endblock %}

{% block body %}

    <img class="{{image_class}}" id="picture" src="data:image/jpeg;base64,{{ img_data }}" width="" height="100%">

    <div class="container-fluid" style="padding-top: 10px">
        <p><a class="badge bg-primary rounded-pill text-decoration-none fs-7 p-2 me-3" href="javascript:pic_zoom();">Click to zoom</a>{{image_name.lower()}}</p>
        {#<p><a href="{{ url_for(request.endpoint, **request.view_args)[:-1] + '?' + request.query_string.decode()}}&zoom=full">Zoom full size</a></p>#}
        <p><a class="badge bg-primary fs-7 p-2 text-decoration-none mt-3" href="{{ img_subdir_link }}">(up .. to picture's dir)</a></p>
        <div>
            <table class="exif_table">
            {% for key, value in exif.items() %}
                <tr>
                    <td class="exif_table_cell" align="left">
                        {{ key }}
                    </td>
                    <td class="exif_table_cell" align="left">
                        {{ value }}
                    </td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}

{% block after_body_contents %}
    <script src="{{ url_for('static', filename='js/dirpic/picture.js') }}"></script>
{% endblock %}
