<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {# <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"> #}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <style>
        {% block add_style %}

        {% endblock %}
    </style>
    <title>
        {% block title %}
        Base title
        {% endblock %}
    </title>
</head>
<body>
    {% block body %}
    Base body
    {% endblock %}
    {# <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script> #}
    <p><a class="home_link" href="{{ url_for('index') }}">Home</a></p>
</body>
</html>
