<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Directory: {{ dir_path }}</title>
</head>
<body>
    <h{{zoom}}>Directory: {{ dir_path }}</h{{zoom}}>
    <br>
    <h{{zoom}}><a href="{{ root_dir_link }}">Root directory</a></h{{zoom}}>
    <h{{zoom}}><a href="{{ up_dir_link }}">.. Up</a></h{{zoom}}>

    {% for path, url, is_file, img_preview_data in dir_items: %}
    {% if is_file %}
    <h{{zoom}}><a href="{{ url }}">
        <img id="picture" src="data:image/jpeg;base64,{{ img_preview_data }}" alt="{{ path }}">
    </a></h{{zoom}}>
    {% else %}
    <h{{zoom}}><a href="{{ url }}">{{ path }}</a></h{{zoom}}>
    {% endif %}
    {% endfor %}
</body>
</html>
