<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Directory: {{ dir_path }}</title>
</head>
<body>

    <h2>Directory: {{ dir_path }}</h2>
    <br>
    <div><a href="{{ root_dir_link }}">Root directory</a></div>
    <div><a href="{{ up_dir_link }}">.. Up</a></div>
    <br>

    <table style="border: 2px solid black;">
    {% for dirs_item in dirs_items: %}
        <tr>
        {% for path, url in dirs_item: %}
            <th>
                <a href="{{ url }}">{{ path }}</a>
            </th>
        {% endfor %}
        </tr>
    {% endfor %}
    </table>

    <br>

    <table>
    {% for files_item in files_items: %}
        <tr>
        {% for path, url, img_preview_data in files_item: %}
            <th>
                <a href="{{ url }}">
                    <img id="picture" class="img-thumbnail" src="data:image/jpeg;base64,{{ img_preview_data }}" alt="{{ path }}">
                </a>
            </th>
        {% endfor %}
        </tr>
    {% endfor %}
    </table>

</body>
</html>
