{% extends 'base.html' %}

{% block title %}
Index
{% endblock %}

{% block body %}
    <h2>Simply dir viewer</h2>
    <ol>
        <li>
            <h3>View photos in dir</h3>
            <ul>
                {% for i in range(1, 16) %}
                <li><p><a class="dir_link" href="{{dir_photos_url}}/{{i}}">{{i}} column(s)</a></p></li>
                {% endfor %}
            </ul>
        </li>
        <li>
            <h3>Something else</h3>
            <ul>
                <li><p>Not implemented yet! :)</p></li>
            </ul>
        </li>
    </ol>
{% endblock %}
