{% extends 'base.html' %}

{% block title %}
Index
{% endblock %}

{% block body %}
    <h2>Simply dir viewer</h2>
    <ol>
        <li>
            <h3>View photos in dir</h3>
            <ul>
                <li><p><a class="dir_link" href="{{url_for('dir_photos_app.show_dir')}}">Show directory</a></p></li>
            </ul>
        </li>
        <li>
            <h3>Something else</h3>
            <ul>
                <li><p>Not implemented yet! :)</p></li>
            </ul>
        </li>
    </ol>
{% endblock %}
