{% extends 'base.html' %}

{% block title %}
Index
{% endblock %}

{% block body %}
    <nav class="navbar navbar-light bg-light p-0 m-0">
        <div class="container-fluid p-0 mx-2 my-0">
            <a class="navbar-brand" href="{{ url_for('index') }}">Simple Dir Viewer</a>
            <ul class="navbar-nav me-auto bg-primary">
                <li class="nav-item dropdown px-2 py-0">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Menu
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{{ url_for('dir_photos_app.show_dir') }}">View photos</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <h5 class="m-2">Welcome to simply dir viewer!</h5>
{% endblock %}
