<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
<!--    $enable-grid-classes: false-->
<!--    $enable-cssgrid: true-->
    <title>Test</title>
</head>
<body>

<div class="grid">
  <div class="g-col-6">.g-col-6</div>
  <div class="g-col-6">.g-col-6</div>

  <div class="g-col-6">.g-col-6</div>
  <div class="g-col-6">.g-col-6</div>
</div>

    <ul class="list-group">
        <li class="list-group-item list-group-item-primary">
            <h6>Список товара</h6>
        </li>
        <li class="list-group-item list-group-item-primary">
            <h6>Список товара</h6>
        </li>
        <li class="list-group-item list-group-item-primary">
            <h6>Список товара</h6>
        </li>
    </ul>

    <script src="/static/js/jquery.slim.min.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
</body>
</html>
