<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>
    <a href="{{ url_for('static', filename='js/jquery.slim.min.js') }}">jquery</a>
    <a href="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}">bootstrap</a>
    <div class="container">
        <div class="row row-cols-auto123">
            <div class="col">Column</div>
            <div class="col">Column</div>
            <div class="col">Column</div>
            <div class="col">Column</div>
        </div>
    </div>
    <script src="/static/js/jquery.slim.min.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
</body>
</html>
